<% if @authenticated %>
    <h1>Disbursement Records</h1>
    <table>
      <thead>
        <th>Name</th>
        <th>Organization Name</th>
        <th>Date Created</th>
        <th>Created By</th>
      </thead>
      <tbody>
        <% @disbursement_records.each do |disbursement_record| %>
            <tr>
              <td>
                <%= link_to disbursement_record.Name, disbursement_record_path(disbursement_record.Id) %>
              </td>
              <td><%= disbursement_record.OrganizationName__c %></td>
              <td><%= disbursement_record.CreatedDate %></td>
              <td><%= disbursement_record.CreatedBy.Name %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
<% else %>
    You're not logged in. Click <a href="/auth/salesforce">here</a> to login.
<% end %>
