<% if @authenticated%>
    You're logged in as <%= @me.username%>. Click <a href="/logout">here</a> to logout.
    <br/>
    Click here to see a list of <a href="contact/index" >Contacts</a>
<% else %>
    You're not logged in. Click <a href="/auth/salesforce">here</a> to login.
<% end%>
