<% if @authenticated%>
    <table>
        <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Record ID</th>
        </thead>
        <tbody>
            <%@contacts.each do |contact|%>
                <tr>
                    <td><%= contact.FirstName %></td>
                    <td><%= contact.LastName %></td>
                    <td><%= contact.Email %></td>
                    <td><%= contact.Id %></td>
                </tr>
            <%end%>
        </tbody>
    </table>
<% else %>
    You're not logged in. Click <a href="/auth/salesforce">here</a> to login.
<% end%>
