// Place all the styles related to the PdfReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#dr-jobs-table {
  border: #333333 1px solid;
  border-collapse: collapse;
  th, td {
    border: #333333 1px solid;
  }
}